<div class="row">
  <div class="col-sm-6">
    <h2 class="title-cctv">
      CCTV
    </h2>

    <p class="txt-cctv">
      Te ofrecemos asesoría, venta, instalación y mantenimiento de equipo de CCTV, ponemos a tu alcance una solución integral con una inversión rentable al mejor costo beneficio. Contamos con el mejor equipo y las mejores marcas.
    </p>

    <ul>
      <li>
        Instalación
      </li>
      <li>
        Monitoreo
      </li>
      <li>
        Mantenimiento
      </li>
      <li>
        Acceso remoto
      </li>
    </ul>

  </div>
  <div class="col-sm-6" id="cctv-img">

  </div>
</div>



<div class="row">

ca
    <div class="col-sm-6" id="hvac-img">

</div>



  <div class="col-sm-6">
    <h2 class="title-hvac">
      HVAC
    </h2>

    <p class="txt-cctv"> 
    Diseñamos sistemas de climatización residencial, comercial o industrial, con equipos de expansión directa, sistemas de agua helada (chillers, UMAs, etc.), Sistemas VRV (Volumen de Refrigerante Variable), equipos de precisión entre otros y según sus necesidades respetando los estándares americanos tales como SMACNA, ASHRAE, entre otros.

    Realizamos el montaje de estos equipos con personal altamente capacitado para seguir las operaciones de instalación y montaje de una forma ordenada, limpia y segura; nuestros técnicos le ayudaran a determinar cuál es el mejor lugar de montaje para minimizar el impacto visual y maximizar el desempeño y confort que le presta su equipo.
    </p>

  </div>




<div class="row">
  <div class="col-sm-6">
    <h2 class="title-auto">
      Automatización
    </h2>

    <p class="txt-auto">
      Brindamos soporte profesional en la automatización de procesos, desarrollamos gran variedad de equios para procesos industriales, hacemos re-ingeniería, llevamos sus equipos actuales a condiciones óptimas de operación e integramos los siguintes conceptos
    </p>

    <ul>
      <li>
        PLC's
      </li>
      <li>
        Variadores de frecuencia
      </li>
      <li>
        Centro de motores CMM
      </li>
      <li>
        Redes de control y comunicación
      </li>
    </ul>

  </div>
  <div class="col-sm-6" id="auto-img">

  </div>
</div>


<div class="col-sm-12" style="background: blue">
  <h2 class="facilidades">Facilidades</h2>
    <div class="fac col-sm-3" style="background: black">Facilidad 1</div>
    <div class="fac col-sm-3" style="background: white">Facilidad 2</div>
    <div class="fac col-sm-3" style="background: green">Facilidad 3</div>
    <div class="fac col-sm-3" style="background: yellow">Facilidad 4</div>

</div>